.container {
    width: 40%;
    margin-top: 100px;
}

.error {
    background-color: rgb(232, 174, 174);
    border-radius: 10px;
    color: red;
    text-align: center;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
}

.valid {
    background-color: rgb(118, 247, 96);
    border-radius: 10px;
    color: red;
    text-align: center;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
}

.text-center {
    margin-top: 2rem;
    cursor: pointer;
}