<app-navbar></app-navbar>
<app-galery></app-galery>

<div class="products">
  <section>

    <h2>Nuestros Productos</h2>

    <div class="tarjetas">
      <article>
        <div id="tarjetaPintura">
          <img src="../../../assets/img/card_Pintura.jpg" class="cardsImg" alt="Pintura" title="Pinturas">

          <h2>Pinturas</h2>
          <ul>
            <li>Pinturas plásticas</li>
            <li>Esmaltes</li>
            <li>Barnices</li>
            <li>Sprays</li>
            <li>...</li>
          </ul>


        </div>

      </article>

      <article>

        <div id="tarjetaLavanderia">
          <img src="../../../assets/img/cardLavanderia.jpg" class="cardsImg" alt="Lavaderia" title="Lavandería">

          <h2>Lavandería</h2>
          <ul>
            <li>Detergentes</li>
            <li>Suavizantes</li>
            <li>Desmanchantes</li>
            <li>Bombas dosifiación</li>
            <li>...</li>
          </ul>

        </div>
      </article>


      <article>
        <div id="tarjetaLimpieza">
          <img src="../../../assets/img/Card_limpieza.jpg" class="cardsImg" alt="Limpieza" title="Limpieza">

          <h2>Limpieza</h2>
          <ul>
            <li>Limpiasuelos</li>
            <li>Desengrasantes</li>
            <li>Desinfectantes</li>
            <li>utiles</li>
            <li>...</li>
          </ul>


        </div>
      </article>
    </div>

    <div class="aCliente">

      <div>
        <img src="../../../assets/img/telefonista.jpg" alt="atención cliente" title="atención cliente">
      </div>
      <div class="datos">
        <div>
          <p>¿Buscas un producto? </p>
          <p>Nuestros expertos te eschuchan</p>
          <p class="telefono">913 666 069</p>
          De lunes a viernes de 9:00 a 19:OO

        </div>

      </div>


    </div>
  </section>
</div>
<app-footer></app-footer>
